body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke !important;
}

nav {
  background-color: #727d73;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 20px;
}

h1 {
  color: #444;
}
