body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke !important;
}

nav {
  background-color: #727d73;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 20px;
}

h1 {
  color: #444;
}

.skillCard,
.cert {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.4s;
  transition-property: transform;
}
.cert:hover,
.cert:focus,
.cert:active {
  transform: scale(1.03);
  border: 1px solid black;
}

.skillCard:hover,
.skillCard:focus,
.skillCard:active {
  transform: scale(1.1);
  background-color: #404040;
  color: white;
}

#introduction {
  background-color: #e5e5e5da;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eeeeee;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10%;
}
.hvr-rectangle-out a:hover,
.hvr-rectangle-out a:focus,
.hvr-rectangle-out a:active {
  color: rgb(23, 23, 23) !important;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.badge {
  width: 15% !important;
  border: 0.5px solid gray;
}
