{% extends "base.html" %} {% block content %}

<div
  class="container mt-3 w-100"
  style="max-width: 96% !important"
  id="introduction"
>
  <div class="row border border-dark-subtle px-2 py-3 rounded-3">
    <div class="col-md-4">
      <div class="pic">
        <img
          src="{{ url_for('static', filename='Images/Jinet.jpeg') }}"
          alt="My Picture"
          class="w-75"
        />
      </div>
    </div>
    <div class="col-md-8">
      <h1>Welcome to my Portfolio!</h1>

      <p class="fs-5 mt-4">
        Hello! I'm Jeanette Mae Custodio, a 4th-year student from Bulacan
        Agricultural State College. I am currently exploring web development and
        project management through hands-on projects. This is a simple Flask
        portfolio website that I'm building and improving over time.
        <br />
        <br />
        Feel free to explore my projects!
      </p>
    </div>
  </div>
</div>

<div
  class="container mt-5 w-100 border px-2 py-3 border border-dark-subtle shadow-sm"
  style="max-width: 96% !important"
  id="introduction"
>
  <h2 class="mb-4 text-center">My Skills</h2>

  <div class="row text-center d-flex justify-content-around">
    <!-- Programming Skills -->
    <div class="col-md-3 mb-3">
      <div class="card h-100 shadow-sm skillCard">
        <div class="card-body">
          <h5 class="card-title">Backend Development</h5>
          <ul class="list-unstyled mt-3">
            <li>Python - Flask</li>
            <li>SQL</li>
            <li>JavaScript</li>
            <li>PHP</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card h-100 shadow-sm skillCard">
        <div class="card-body">
          <h5 class="card-title">Frontend Development</h5>
          <ul class="list-unstyled mt-3">
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Other Skills -->
    <div class="col-md-3 mb-3">
      <div class="card h-100 shadow-sm skillCard">
        <div class="card-body">
          <h5 class="card-title">Other Skills</h5>
          <ul class="list-unstyled mt-3">
            <li>Project Management</li>
            <li>Team Leadership</li>
            <li>Problem Solving</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container mt-5 w-100 border px-2 py-3 border border-dark-subtle shadow-sm"
  style="max-width: 96% !important"
  id="introduction"
>
  <h2 class="mb-4 text-center">My Certificates</h2>

  <div class="row text-center d-flex justify-content-center flex-nowrap gap-2">
    <span class="badge bg-primary fs-6 py-2" id="allCerts">All</span>
    <span class="badge bg-secondary fs-6 py-2" id="pythonCerts">Python</span>
    <span class="badge bg-success fs-6 py-2" id="opSysCerts"
      >Operating Systems</span
    >
    <span class="badge bg-danger fs-6 py-2" id="cybersecCerts"
      >Cybersecurity</span
    >
    <span class="badge bg-warning fs-6 py-2" id="others">Others</span>
  </div>
  <div
    class="row text-center d-flex justify-content-center flex-nowrap gap-4 mt-3"
  >

  {% for cert in certificates %}
 <div class="card cert {{ cert.category}}" style="width: 20%">
    <img
      class="card-img-top"
      src="{{ url_for('static', filename=cert.image_path) }}"
      alt="{{ cert.title }}"
    />

    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ cert.title }}</h5>
      <p class="card-text">by {{ cert.provider }}</p>

      <a
        href="#"
        class="btn btn-primary mt-auto"
        data-bs-toggle="modal"
        data-bs-target="#imageModal"
        data-img="{{ url_for('static', filename=cert.image_path) }}"
      >
        View
      </a>
    </div>
  </div>
  {% endfor %}
    </div>
  </div>
  <!-- Image View Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img
            id="modalImage"
            src=""
            alt="Certificate Preview"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
